.nvimlog
.direnv/
public/
result

# ignore folders where we link in files from the nix store
extra/
static/font/
static/style/fonts.css

# Local Netlify folder
.netlify

# local pre-commit config
.pre-commit-config.yaml
