<footer>
  <div id="site-info">
    <p id="powered-by">
      powered by <a href="https://getzola.org" target="_blank" rel="noopener noreferral">zola</a> + <a href="https://github.com/not-matthias/apollo" target="_blank" rel="noopener noreferral">apollo</a>
      and
      <a href="https://nixos.org" target="_blank" rel="noopener noreferral">nix</a>
    </p>
    <p id="privacy-note">
      <a href="/privacy">privacy notice</a>
    </p>
  </div>
  <p id="copyright">
    &copy; 2023-2024 gregory s. burd
  </p>
  <!-- Begin GoatCounter Code -->
  <script data-goatcounter="https://stats.burd.me/count" async src="//stats.burd.me/count.js" crossorigin></script>
  <!-- End GoatCounter Code
       integrity="sha256-a8rh6u3maZ6JiY6w6zsLlw9OUQf2tFPUX3t1/BV+RKc="
    -->
  <noscript>
    {%- set current_path = current_path | default(value="/") %}
    <img id=pixel src="https://stats.burd.me/count?p={{ current_path | safe }}">
  </noscript>
</footer>
