<footer>
  <div id="site-info">
    <p id="powered-by">
      powered by <a href="https://getzola.org" target="_blank" rel="noopener noreferral">zola</a> + <a href="https://github.com/not-matthias/apollo" target="_blank" rel="noopener noreferral">apollo</a>
      and
      <a href="https://nixos.org" target="_blank" rel="noopener noreferral">nix</a>
    </p>
    <p id="privacy-note">
      <a href="/privacy">privacy notice</a>
    </p>
  </div>
  <p id="copyright">
    &copy; 2022-2023 mat ess
  </p>
  <script data-goatcounter="https://stats.mat.services/count" async src="//stats.mat.services/count.js" crossorigin integrity="sha256-a8rh6u3maZ6JiY6w6zsLlw9OUQf2tFPUX3t1/BV+RKc="></script>
  <noscript>
    {%- set current_path = current_path | default(value="/") %}
    <img id=pixel src="https://stats.mat.services/count?p={{ current_path | safe }}">
  </noscript>
</footer>