<header>
  <div class="main brand">
    <a href={{ config.base_url }}><img class=logo src="/image/favicon.svg" alt="" />{{ config.title }}</a>
  </div>

  <nav aria-label="Site navigation">
    {% for menu in config.extra.menu %}
    {%- set external = menu.external | default(value=false) -%}
    {%- if external %}
    <a href={{ menu.url }} target="_blank" rel="me noopener noreferrer">{{ menu.name }}</a>
    {%- else %}
    <a href={{ get_url(path=menu.url) }}>{{ menu.name }}</a>
    {%- endif -%}
    {% endfor %}
  </nav>
</header>