<header>
  <div class="main brand">
    <a href={{ config.base_url | safe }}>
      <img id="logo" src="{{ get_url(path=config.extra.favicon, cachebust=true) }}" alt="circular logo" />
      {{ config.title }}
    </a>
  </div>
  <nav aria-label="Site navigation">
    {%- for menu in config.extra.menu %}
    {%- set external = menu.external | default(value=false) -%}
    {%- if external %}
    <a href={{ menu.url | safe }} target="_blank" rel="me noopener noreferrer">{{ menu.name | safe }}</a>
    {%- else %}
    <a href={{ get_url(path=menu.url) }}>{{ menu.name | safe }}</a>
    {%- endif -%}
    {% endfor %}
  </nav>
</header>