@import '~bulma/sass/utilities/functions'
  
$pink: #F4ACB7
$pink-invert: findColorInvert($pink)
$blue: #7D82B8
$blue-invert: findColorInvert($blue)
$red: #471323
$red-invert: findColorInvert($red)
$bright: #EF798A
$bright-invert: findColorInvert($bright)
$purple: #613F75
$purple-invert: findColorInvert($purple)

$primary: $pink
$primary-invert: $pink-invert
$info: $blue
$info-invert: $blue-invert
$danger: $red
$danger-invert: $red-invert
$warning: $bright
$warning-invert: $bright-invert
$link: $purple
$link-invert: $purple-invert
